@include selection {
  background: $theme-color;
  color: $white;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-family: "Gamja Flower", cursive;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
  font-weight: 400;
  color: $title-color;
  letter-spacing: -0.025rem;
}

code {
  color: #666;
}

.sidebar-item {
  font-size: 0.7rem;
}

.sidebar-personal-info-section {
  font-size: 1rem;
}

.sidebar-personal-info-section .notice {
  font-size: 0.5rem;
}
